<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- core AAD configuration, must be configured to work correctly -->
    <add key="apr:ClientId" value="client ID configured in your AAD tenant goes here" />
    <add key="apr:AppKey" value="client app key configured for the application goes here" />
    <add key="apr:TenantId" value="tenant ID from your AAD tenant endpoints goes here" />
    
    <!-- the URL to redirect to when application not found or error -->
    <add key="apr:DefaultRedirect" value="http://bing.com/" />

    <!-- how long to cache the application list from AAd for, in seconds-->
    <add key="apr:AppCacheSeconds" value="60" />

    <!-- unlikely to change -->
    <add key="apr:GraphUrl" value="https://graph.windows.net" />

    <!-- unlikely to change -->
    <add key="apr:Authority" value="https://login.windows.net/{0}" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web"/>
      <add name="AppLookupRedirectModule" type="AppProxyRedirector.AppLookupRedirectModule, AppProxyRedirector"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.ApplicationInsightsHttpModule, Microsoft.ApplicationInsights.Extensibility.Web"
        preCondition="managedHandler"/>
      <add name="AppLookupRedirectModule" type="AppProxyRedirector.AppLookupRedirectModule, AppProxyRedirector"/>
    </modules>
  </system.webServer>
</configuration>